<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="inner-screen">
      <h1>Molotov</h1>
      <div class="form">
        <h2>Login</h2>
        <form [formGroup] = "loginForm">
        <input formControlName="username" type="text" id="username" placeholder="Username" />
        <input formControlName="password" type="password" id="password" placeholder="Password" />
        <input type="submit" value="Login" (click)="login()"/>
        </form>
        <a href="/register">Register</a>
      </div> 
    </div>
  </body>
</html>