<div class="page-container">
  <div>
    <h1 class="page-title-font">Ask a question</h1>
  </div>
  <div class="items-container">
    <div class="item">
      <h3 class="item-name-font">Question</h3>
      <textarea wrap="soft" [(ngModel)]="question.body"></textarea>
    </div>
    <div class="item">
      <h3 class="item-name-font">Tags</h3>
      <input #tagInput type="text" (keyup.enter)="insertTag()" [(ngModel)]="tag">
    </div>
    <div class="item">
      <div class="item-name-font" style="padding: 0.2rem 1rem; cursor: pointer;" *ngFor="let atag of tags; index as i" (click)="deleteTag(i)">X     {{atag}}</div>
    </div>
    <div class="button-container" >
      <span><button class="cancel-button" (click)="cancel()">Cancel</button></span>
      <span><button class="submit-button" (click)="submit()">Submit</button></span>      
    </div>
  </div>
</div>