<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="inner-screen">
      <h1>Molotov</h1>
      <div class="form">
        <h2>Sing Up</h2>
        <form [formGroup] = "registerForm">
        <input formControlName="username" type="text" id="username" placeholder="Username" />
        <input formControlName="password" type="password" id="password" placeholder="Password" />
        <input formControlName="passwordConfirm"type="password" id="cpass" placeholder="Confirm Password" />
        <input type="submit" value="Register" (click)="register()"/>
        </form>
        <a href="/login">Already have an account? Login</a>
      </div> 
    </div>
  </body>
</html>