<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="inner-screen">
      <div class="form">
        <h2>Update Password</h2>
        <form [formGroup] = "registerForm">
        <input formControlName="newPass" type="password" id="newPass" placeholder="New Password" />
        <input formControlName="passwordConfirm"type="password" id="cpass" placeholder="Confirm New Password" />
        <input type="submit" value="Submit" (click)="submit()"/>
        </form>
        <a href="/profile">cancel</a>
      </div> 
    </div>
  </body>
</html>