<div class="page-container">
  <div>
    <h1 class="page-title-font">{{question.title}}</h1>
    <h2 class="page-title-font">{{question.text}}</h2>
    <h5 class="vote-system">
      <button class="voting-button" [ngClass]="{ 'voting-button-voted' : subQuestionButtonClicked, 'voting-button-not-voted' : !subQuestionButtonClicked }" (click)="downvoteQuestion(question)">-</button>
      {{question.points}}
      <button class="voting-button" [ngClass]="{ 'voting-button-voted' : addQuestionButtonClicked, 'voting-button-not-voted' : !addQuestionButtonClicked }" (click)="upvoteQuestion(question)">+</button>
    </h5>
    <div class="item">
      <h3 class="item-name-font">- {{question.user}}</h3>
    </div>
  </div>
  <div class="items-container">
    <div class="item">
      <button *ngIf="!answer" class="edit-button" (click)="answerQuestion()">Answer</button>
      <textarea *ngIf="answer" wrap="soft" [(ngModel)]="newAnswerBody"></textarea>
      <div *ngIf="answer" class="button-container">
        <span><button class="cancel-button" (click)="cancel()">Cancel</button></span>
        <span><button class="submit-button" (click)="submit()">Submit</button></span>      
      </div>
    </div>
    <div class="item">
      <h3 class="item-name-font">Answers</h3><br>
      <div *ngFor="let answer of answers">
        <h4 *ngIf="!edit" style="padding: 0">{{answer.text}}</h4>
        <h6 class="vote-system" style="padding: 0 0 0 0">
          <button class="voting-button" [ngClass]="{ 'voting-button-voted' : answer.subAnswerButtonClicked, 'voting-button-not-voted' : !answer.subAnswerButtonClicked }" (click)="downvoteAnswer(answer)">-</button>
          {{answer.points}}
          <button class="voting-button" [ngClass]="{ 'voting-button-voted' : answer.addAnswerButtonClicked, 'voting-button-not-voted' : !answer.addAnswerButtonClicked }" (click)="upvoteAnswer(answer)">+</button>
        </h6>
        <h5>- {{answer.user}}</h5>
        <br>
      </div>
    </div>
  </div>
</div>