.side-menu-container {
    height: 89%;
}

.side-menu {
    width: 15rem !important;
}

.header-container {
    height: 11%;
}

.container-background-color {
    background-color: #262626 !important;
}

mat-sidenav div {
    text-align: right;
    margin: 25px 10px;
}

div a {
    font-family: Helvetica;
    font-size: 1.2rem;
    color: #ffde00;
    cursor: pointer;
}