<div class="inner-screen">
  <div class="form">
    <h2>Ask a question</h2>
    <form [formGroup] = "askForm">
      <div id="question-title">
        <h4>Title</h4>
        <input formControlName="title" type="text">
      </div>
      <div id="question-body">
        <h4>Body</h4>
        <textarea formControlName="body" rows="6" cols="40" class=textboxa >{{questionBody}}</textarea>
      </div>
      <div id="question-tags">
        <h4 style="margin-bottom: 0;">Tags</h4>
        <h5>(Use ; to separe them)</h5>
        <input type="text" formControlName="tags">
      </div>
    </form>
    <input type="submit" value="Submit Question" (click)="submit()"/>
    <a href="/questions">cancel</a>
  </div>
</div>